@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-background-color: #EEEEEE;
  --light-foreground: #000;

  --dark-background-color: #3A3A3A;
  --dark-foreground: #eeeeee;
  

  --foreground: var(--light-foreground);
  --background-color: var(--light-background-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--dark-foreground);
    --background-color: var(--dark-background-color);
  }
}

*::selection {
  background: #7e679752;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: var(--background-color);
  color: var(--foreground);
}
